<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.SympNetMobile"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCUPDh57AstBm2EU1H0Raf2g6wUWqwgTHY" />

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SympNetMobile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.OnboardingActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.EditProfileActivity" />
        <activity android:name=".activities.PasswordManagerActivity" />
        <activity android:name=".activities.NotificationSettingsActivity" />
        <activity android:name=".home.ActivityHome"/>
        <activity android:name="com.sympnet.app.activities.DoctorDetailsActivity" />
        <activity android:name=".activities.AllDoctorsActivity" />

    </application>

</manifest>